{
  "openapi": "3.0.3",
  "info": {
    "title": "Akkudoktor API",
    "description": "Willkommen bei der API von Akkudoktor. Diese API stellt Ihre Daten ist nach der OpenAPI 3.0 Spezifikation bereit und ist aktuell kostenlos. \n\nYou can now help us improve the API whether it's by making changes to the definition itself or to the code.\nThat way, with time, we can improve the API in general, and expose some of the new features in OAS3.\n\n_If you're looking for the Swagger 2.0/OAS 2.0 version of Petstore, then click [here](https://editor.swagger.io/?url=https://petstore.swagger.io/v2/swagger.yaml). Alternatively, you can load via the `Edit > Load Petstore OAS 2.0` menu option!_\n\nSome useful links:\n- [The Pet Store repository](https://github.com/swagger-api/swagger-petstore)\n- [The source API definition for the Pet Store](https://github.com/swagger-api/swagger-petstore/blob/master/src/main/resources/openapi.yaml)",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@akkudoktor.net"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.11"
  },
  "externalDocs": {
    "description": "Sourcecode",
    "url": "https://github.com/nick81nrw/solApi"
  },
  "servers": [
    {
      "url": "https://api.akkudoktor.net/"
    }
  ],
  "tags": [
    {
      "name": "forecast",
      "description": "pv generation forcast",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    }
  ],
  "paths": {
    "/forecast": {
      "get": {
        "tags": [
          "forecast"
        ],
        "summary": "Get forcast data",
        "description": "get pv power from a location ",
        "operationId": "getPetById",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "latitude for location",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            },
            "example": 55.45
          },
          {
            "name": "lon",
            "in": "query",
            "description": "longitude for location",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            },
            "example": 8.14
          },
          {
            "name": "pvs",
            "in": "query",
            "description": "pv installations",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "power": {
                    "type": "integer"
                  },
                  "azimuth": {
                    "type": "integer"
                  },
                  "tilt": {
                    "type": "integer"
                  },
                  "efficiency": {
                    "type": "integer"
                  },
                  "tempcoefficiency": {
                    "type": "integer"
                  }
                },
                "required": [
                  "power",
                  "azimuth",
                  "tilt"
                ]
              }
            }
          },
          {
            "name": "fromday",
            "in": "query",
            "description": "from which day data will start (default today)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2023-06-01T00:00:00.000Z"
          },
          {
            "name": "today",
            "in": "query",
            "description": "from which day data will end (default today)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2023-06-02T00:00:00.000Z"
          },
          {
            "name": "frequency",
            "in": "query",
            "description": "frequency of data (default hourly)",
            "schema": {
              "type": "string",
              "enum": [
                "hourly",
                "quarterhour"
              ]
            },
            "example": "hourly"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forecast"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Forecast"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Pet not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Forecast": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "format": "float",
                "example": 55.61
              },
              "lon": {
                "type": "number",
                "format": "float",
                "example": 55.61
              },
              "frequency": {
                "type": "string",
                "enum": [
                  "hourly",
                  "quarterhour"
                ],
                "example": "hourly"
              }
            }
          },
          "values": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2023-06-01T06:00:00.000Z"
                },
                "sumgeneration": {
                  "type": "number",
                  "format": "float",
                  "example": 3504.56
                },
                "price": {
                  "type": "number",
                  "format": "float",
                  "description": "EEX price for one MWh",
                  "example": 80.4
                },
                "temprature": {
                  "type": "number",
                  "format": "float",
                  "description": "temprature in celsius",
                  "example": 15.4
                },
                "windspeed": {
                  "type": "number",
                  "format": "float",
                  "description": "windspeed in m/s",
                  "example": 28.4
                }
              }
            }
          }
        }
      }
    }
  }
}