<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include('../partials/head'); %>
        <title>Create Account</title>
    </head>
</head>
<body>
    <% if (locals.error) { %>
        <p>ERROR: <%= locals.error %></p>
    <% } %>
    <h2>Create your API Account to get an apikey</h2>
    <form method="post">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="email">Email</label>
        <input type="email" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Senden">
    </form>
    <p>Hast du schon ein Profil, dann <a href="/login">melde dich an!</a></p>
</body>
</html>