<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <title>Login</title>
</head>
<body>
    <% if (locals.error) { %>
        <p>ERROR: <%= locals.error %></p>
    <% } %>
    <h2>Melde dich in dein Profil an</h2>
    <form method="post">
        <label for="email">Email</label>
        <input type="email" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
    <% if (locals.oauth) {%>
        <% oauth.forEach(function(issuer) { %>
            <p>
                <a href="<%= issuer.authUrl %>">Nutze deinen <%= issuer.issuer %> Account</a>
            </p>
        <% }) %>
    <% } %>
    <p><a href="/account">Oder erstelle einen neuen Account</a></p>
</body>
</html>
